---
  parser: babel-eslint
  extends: airbnb-base
  env:
    es6: true
    node: true
    mocha: true
  rules:
    generator-star-spacing: 0
    no-shadow: 0
    no-param-reassign: 0
    comma-dangle: 0
    object-curly-spacing: 0
    no-underscore-dangle: 0
    import/no-extraneous-dependencies: 0
    no-prototype-builtins: 0
    max-len:
      - 2
      - 120
      - 2
    arrow-parens:
      - 2
      - always
